:root {
  --primary-color: #373e40;
  --secondary-color: #42b3b3;
  --tertiary-color: #c2c9ca;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/*HEADER STYLING*/
header {
  padding: 20px 50px 20px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;  
}

header h1 a {
  font-weight: bold;
  font-size: 72px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 10px 5px 100px;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 26px;
  border-bottom: 3px solid var(--secondary-color);
}

header nav ul li a:hover {
  border-bottom: 25px solid var(--secondary-color);
  transition: 0.5s;
}

section {
  padding: 60px;
}

/*HERO STYLING*/
.hero {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 30%;
  padding: 140px;
  width: auto;
}

.hero h2 {
  color: var(--secondary-color);
  font-style: italic;
  width: 100%;
  text-align: right;
  margin: 10px;
  font-size: 85px;
  line-height: 0.2;
}

/*SECTIONS STYLING*/
.about-me {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info {
  padding: 25px;
  line-height: 1;
}

.info h2 {
  color: var(--secondary-color);
  font-size: 80px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.info p, .info ul li {
  color: var(--primary-color);
  font-size: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 5px 0 10px;
  border-left: 5px solid var(--secondary-color);
  list-style: circle;
}


