* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #373e40;
  --secondary-color: #42b3b3;
  --tertiary-color: #c2c9ca;
}

/*HEADER STYLING*/
header {
  padding: 20px 50px 20px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  font-weight: bold;
  font-size: 72px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 10px 5px 100px;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 26px;
  border-bottom: 3px solid var(--secondary-color);
}

header nav ul li a:hover {
  border-bottom: 25px solid var(--secondary-color);
  transition: 0.5s;
}

footer {
  background: var(--tertiary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

section {
  padding: 60px;
}

/*HERO STYLING*/
.hero {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-img {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.hero-title {
  position: relative;
  color: var(--primary-color);
  font-size: 48px;
  z-index: 9999;
}

/*SECTION TITLE STYLING*/
.section-title {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  text-align: right;
  font-size: 80px;
  color: var(--secondary-color);
  padding: 20px;
  border-right: 5px solid var(--secondary-color);
}

.content {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
}

/*ABOUT ME STYLING*/
.intro {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary-color);
  font-size: 15px;
  padding: 0px 50px;
}

/*PROJECTS STYLING*/
.projects {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  width: 90%;
  margin: 0px 40px 0 ;
  box-sizing: border-box;
}

.mainProject {
  
}

/*UTILITIES*/
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
}